<a href="https://colab.research.google.com/github/maskot1977/Python2020/blob/1019/47.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!date

Mon Oct 19 08:02:06 UTC 2020

In [2]:
import urllib.request
url = 'https://raw.githubusercontent.com/maskot1977/ipython_notebook/master/toydata/islands.txt'
urllib.request.urlretrieve(url, 'islands.txt') # データのダウンロード

('islands.txt', <http.client.HTTPMessage at 0x7fc801a52e80>)

In [3]:
islands = []
for line in open('islands.txt'):
    c = line.split("\t")
    islands.append([c[0], float(c[1])])

In [4]:
print(islands)

[['Africa', 11506.0], ['Antarctica', 5500.0], ['Asia', 16988.0], ['Australia', 2968.0], ['Axel Heiberg', 16.0], ['Baffin', 184.0], ['Banks', 23.0], ['Borneo', 280.0], ['Britain', 84.0], ['Celebes', 73.0], ['Celon', 25.0], ['Cuba', 43.0], ['Devon', 21.0], ['Ellesmere', 82.0], ['Europe', 3745.0], ['Greenland', 840.0], ['Hainan', 13.0], ['Hispaniola', 30.0], ['Hokkaido', 30.0], ['Honshu', 89.0], ['Iceland', 40.0], ['Ireland', 33.0], ['Java', 49.0], ['Kyushu', 14.0], ['Luzon', 42.0], ['Madagascar', 227.0], ['Melville', 16.0], ['Mindanao', 36.0], ['Moluccas', 29.0], ['New Britain', 15.0], ['New Guinea', 306.0], ['New Zealand (N)', 44.0], ['New Zealand (S)', 58.0], ['Newfoundland', 43.0], ['North America', 9390.0], ['Novaya Zemlya', 32.0], ['Prince of Wales', 13.0], ['Sakhalin', 29.0], ['South America', 6795.0], ['Southampton', 16.0], ['Spitsbergen', 15.0], ['Sumatra', 183.0], ['Taiwan', 14.0], ['Tasmania', 26.0], ['Tierra del Fuego', 19.0], ['Timor', 13.0], ['Vancouver', 12.0], ['Victoria', 82.0]]

In [5]:
def bubble_sort(data):
    for i in range(len(data)):
        for j in range(len(data) - 1, i, - 1):
            if data[j][1] < data[j - 1][1]:
                data[j][1], data[j - 1][1] = data[j - 1][1], data[j][1]
                data[j][0], data[j - 1][0] = data[j - 1][0], data[j][0]
    return data

In [6]:
bubble_sort(islands)

[['Vancouver', 12.0],
 ['Hainan', 13.0],
 ['Prince of Wales', 13.0],
 ['Timor', 13.0],
 ['Kyushu', 14.0],
 ['Taiwan', 14.0],
 ['New Britain', 15.0],
 ['Spitsbergen', 15.0],
 ['Axel Heiberg', 16.0],
 ['Melville', 16.0],
 ['Southampton', 16.0],
 ['Tierra del Fuego', 19.0],
 ['Devon', 21.0],
 ['Banks', 23.0],
 ['Celon', 25.0],
 ['Tasmania', 26.0],
 ['Moluccas', 29.0],
 ['Sakhalin', 29.0],
 ['Hispaniola', 30.0],
 ['Hokkaido', 30.0],
 ['Novaya Zemlya', 32.0],
 ['Ireland', 33.0],
 ['Mindanao', 36.0],
 ['Iceland', 40.0],
 ['Luzon', 42.0],
 ['Cuba', 43.0],
 ['Newfoundland', 43.0],
 ['New Zealand (N)', 44.0],
 ['Java', 49.0],
 ['New Zealand (S)', 58.0],
 ['Celebes', 73.0],
 ['Ellesmere', 82.0],
 ['Victoria', 82.0],
 ['Britain', 84.0],
 ['Honshu', 89.0],
 ['Sumatra', 183.0],
 ['Baffin', 184.0],
 ['Madagascar', 227.0],
 ['Borneo', 280.0],
 ['New Guinea', 306.0],
 ['Greenland', 840.0],
 ['Australia', 2968.0],
 ['Europe', 3745.0],
 ['Antarctica', 5500.0],
 ['South America', 6795.0],
 ['North America', 9390.0],
 ['Africa', 11506.0],
 ['Asia', 16988.0]]

In [7]:
print(islands)

[['Vancouver', 12.0], ['Hainan', 13.0], ['Prince of Wales', 13.0], ['Timor', 13.0], ['Kyushu', 14.0], ['Taiwan', 14.0], ['New Britain', 15.0], ['Spitsbergen', 15.0], ['Axel Heiberg', 16.0], ['Melville', 16.0], ['Southampton', 16.0], ['Tierra del Fuego', 19.0], ['Devon', 21.0], ['Banks', 23.0], ['Celon', 25.0], ['Tasmania', 26.0], ['Moluccas', 29.0], ['Sakhalin', 29.0], ['Hispaniola', 30.0], ['Hokkaido', 30.0], ['Novaya Zemlya', 32.0], ['Ireland', 33.0], ['Mindanao', 36.0], ['Iceland', 40.0], ['Luzon', 42.0], ['Cuba', 43.0], ['Newfoundland', 43.0], ['New Zealand (N)', 44.0], ['Java', 49.0], ['New Zealand (S)', 58.0], ['Celebes', 73.0], ['Ellesmere', 82.0], ['Victoria', 82.0], ['Britain', 84.0], ['Honshu', 89.0], ['Sumatra', 183.0], ['Baffin', 184.0], ['Madagascar', 227.0], ['Borneo', 280.0], ['New Guinea', 306.0], ['Greenland', 840.0], ['Australia', 2968.0], ['Europe', 3745.0], ['Antarctica', 5500.0], ['South America', 6795.0], ['North America', 9390.0], ['Africa', 11506.0], ['Asia', 16988.0]]

In [8]:
islands = []
for line in open('islands.txt'):
    c = line.split("\t")
    islands.append([c[0], float(c[1])])

In [9]:
print(islands)

[['Africa', 11506.0], ['Antarctica', 5500.0], ['Asia', 16988.0], ['Australia', 2968.0], ['Axel Heiberg', 16.0], ['Baffin', 184.0], ['Banks', 23.0], ['Borneo', 280.0], ['Britain', 84.0], ['Celebes', 73.0], ['Celon', 25.0], ['Cuba', 43.0], ['Devon', 21.0], ['Ellesmere', 82.0], ['Europe', 3745.0], ['Greenland', 840.0], ['Hainan', 13.0], ['Hispaniola', 30.0], ['Hokkaido', 30.0], ['Honshu', 89.0], ['Iceland', 40.0], ['Ireland', 33.0], ['Java', 49.0], ['Kyushu', 14.0], ['Luzon', 42.0], ['Madagascar', 227.0], ['Melville', 16.0], ['Mindanao', 36.0], ['Moluccas', 29.0], ['New Britain', 15.0], ['New Guinea', 306.0], ['New Zealand (N)', 44.0], ['New Zealand (S)', 58.0], ['Newfoundland', 43.0], ['North America', 9390.0], ['Novaya Zemlya', 32.0], ['Prince of Wales', 13.0], ['Sakhalin', 29.0], ['South America', 6795.0], ['Southampton', 16.0], ['Spitsbergen', 15.0], ['Sumatra', 183.0], ['Taiwan', 14.0], ['Tasmania', 26.0], ['Tierra del Fuego', 19.0], ['Timor', 13.0], ['Vancouver', 12.0], ['Victoria', 82.0]]

In [10]:
def insertion_sort(data):
    for i in range(len(data) - 1):
        j = i + 1
        while i >= 0:
            if data[j][1] < data[i][1]:
                data[i][1], data[j][1] = data[j][1], data[i][1]
                data[i][0], data[j][0] = data[j][0], data[i][0]
                i -= 1
                j -= 1
            else:
                break
    return data

In [11]:
insertion_sort(islands)

[['Vancouver', 12.0],
 ['Hainan', 13.0],
 ['Prince of Wales', 13.0],
 ['Timor', 13.0],
 ['Kyushu', 14.0],
 ['Taiwan', 14.0],
 ['New Britain', 15.0],
 ['Spitsbergen', 15.0],
 ['Axel Heiberg', 16.0],
 ['Melville', 16.0],
 ['Southampton', 16.0],
 ['Tierra del Fuego', 19.0],
 ['Devon', 21.0],
 ['Banks', 23.0],
 ['Celon', 25.0],
 ['Tasmania', 26.0],
 ['Moluccas', 29.0],
 ['Sakhalin', 29.0],
 ['Hispaniola', 30.0],
 ['Hokkaido', 30.0],
 ['Novaya Zemlya', 32.0],
 ['Ireland', 33.0],
 ['Mindanao', 36.0],
 ['Iceland', 40.0],
 ['Luzon', 42.0],
 ['Cuba', 43.0],
 ['Newfoundland', 43.0],
 ['New Zealand (N)', 44.0],
 ['Java', 49.0],
 ['New Zealand (S)', 58.0],
 ['Celebes', 73.0],
 ['Ellesmere', 82.0],
 ['Victoria', 82.0],
 ['Britain', 84.0],
 ['Honshu', 89.0],
 ['Sumatra', 183.0],
 ['Baffin', 184.0],
 ['Madagascar', 227.0],
 ['Borneo', 280.0],
 ['New Guinea', 306.0],
 ['Greenland', 840.0],
 ['Australia', 2968.0],
 ['Europe', 3745.0],
 ['Antarctica', 5500.0],
 ['South America', 6795.0],
 ['North America', 9390.0],
 ['Africa', 11506.0],
 ['Asia', 16988.0]]

In [12]:
print(islands)

[['Vancouver', 12.0], ['Hainan', 13.0], ['Prince of Wales', 13.0], ['Timor', 13.0], ['Kyushu', 14.0], ['Taiwan', 14.0], ['New Britain', 15.0], ['Spitsbergen', 15.0], ['Axel Heiberg', 16.0], ['Melville', 16.0], ['Southampton', 16.0], ['Tierra del Fuego', 19.0], ['Devon', 21.0], ['Banks', 23.0], ['Celon', 25.0], ['Tasmania', 26.0], ['Moluccas', 29.0], ['Sakhalin', 29.0], ['Hispaniola', 30.0], ['Hokkaido', 30.0], ['Novaya Zemlya', 32.0], ['Ireland', 33.0], ['Mindanao', 36.0], ['Iceland', 40.0], ['Luzon', 42.0], ['Cuba', 43.0], ['Newfoundland', 43.0], ['New Zealand (N)', 44.0], ['Java', 49.0], ['New Zealand (S)', 58.0], ['Celebes', 73.0], ['Ellesmere', 82.0], ['Victoria', 82.0], ['Britain', 84.0], ['Honshu', 89.0], ['Sumatra', 183.0], ['Baffin', 184.0], ['Madagascar', 227.0], ['Borneo', 280.0], ['New Guinea', 306.0], ['Greenland', 840.0], ['Australia', 2968.0], ['Europe', 3745.0], ['Antarctica', 5500.0], ['South America', 6795.0], ['North America', 9390.0], ['Africa', 11506.0], ['Asia', 16988.0]]

In [13]:
islands = []
for line in open('islands.txt'):
    c = line.split("\t")
    islands.append([c[0], float(c[1])])

In [14]:
def quick_sort(data):
    left_data = []
    right_data = []
    if len(data) <= 1:
        return data

    pivot = data[0][1]
    pivot_c = []

    for i in range(len(data)):
        if data[i][1] < pivot:
            left_data.append([data[i][0], data[i][1]])
        elif data[i][1] > pivot:
            right_data.append([data[i][0], data[i][1]])
        else:
            pivot_c.append([data[i][0], data[i][1]])

    left_data = quick_sort(left_data)
    right_data = quick_sort(right_data)

    return left_data + pivot_c + right_data

In [15]:
quick_sort(islands)

[['Vancouver', 12.0],
 ['Hainan', 13.0],
 ['Prince of Wales', 13.0],
 ['Timor', 13.0],
 ['Kyushu', 14.0],
 ['Taiwan', 14.0],
 ['New Britain', 15.0],
 ['Spitsbergen', 15.0],
 ['Axel Heiberg', 16.0],
 ['Melville', 16.0],
 ['Southampton', 16.0],
 ['Tierra del Fuego', 19.0],
 ['Devon', 21.0],
 ['Banks', 23.0],
 ['Celon', 25.0],
 ['Tasmania', 26.0],
 ['Moluccas', 29.0],
 ['Sakhalin', 29.0],
 ['Hispaniola', 30.0],
 ['Hokkaido', 30.0],
 ['Novaya Zemlya', 32.0],
 ['Ireland', 33.0],
 ['Mindanao', 36.0],
 ['Iceland', 40.0],
 ['Luzon', 42.0],
 ['Cuba', 43.0],
 ['Newfoundland', 43.0],
 ['New Zealand (N)', 44.0],
 ['Java', 49.0],
 ['New Zealand (S)', 58.0],
 ['Celebes', 73.0],
 ['Ellesmere', 82.0],
 ['Victoria', 82.0],
 ['Britain', 84.0],
 ['Honshu', 89.0],
 ['Sumatra', 183.0],
 ['Baffin', 184.0],
 ['Madagascar', 227.0],
 ['Borneo', 280.0],
 ['New Guinea', 306.0],
 ['Greenland', 840.0],
 ['Australia', 2968.0],
 ['Europe', 3745.0],
 ['Antarctica', 5500.0],
 ['South America', 6795.0],
 ['North America', 9390.0],
 ['Africa', 11506.0],
 ['Asia', 16988.0]]

In [16]:
!date

Mon Oct 19 08:02:07 UTC 2020