<a href="https://colab.research.google.com/github/maskot1977/Python2020/blob/1104/64.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!date

Thu Nov 19 04:32:21 UTC 2020

In [2]:
import urllib.request
import pandas as pd

# ニューヨークの大気状態観測値データ
url = 'https://raw.githubusercontent.com/maskot1977/ipython_notebook/master/toydata/airquality.txt' 
urllib.request.urlretrieve(url, 'airquality.txt')

df = pd.read_csv('airquality.txt', sep='\t', index_col=0)

In [3]:
df

     Ozone  Solar.R  Wind  Temp  Month  Day
1       41      190   7.4    67      5    1
2       36      118   8.0    72      5    2
3       12      149  12.6    74      5    3
4       18      313  11.5    62      5    4
7       23      299   8.6    65      5    7
..     ...      ...   ...   ...    ...  ...
148     14       20  16.6    63      9   25
149     30      193   6.9    70      9   26
151     14      191  14.3    75      9   28
152     18      131   8.0    76      9   29
153     20      223  11.5    68      9   30

[111 rows x 6 columns]

In [7]:
df.iloc[:, :4].mean()

Ozone       42.099099
Solar.R    184.801802
Wind         9.939640
Temp        77.792793
dtype: float64

In [8]:
!date

Thu Nov 19 04:33:26 UTC 2020