<a href="https://colab.research.google.com/github/maskot1977/Python2020/blob/1202/74.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!date

Wed Dec  2 06:15:06 UTC 2020

In [1]:
import numpy as np
import pandas as pd

In [3]:
data_list = [[0, 1, 2], [3, 4, 5], [7, 8, 9]]

In [4]:
data_np = np.array(data_list)
data_np

array([[0, 1, 2],
       [3, 4, 5],
       [7, 8, 9]])

In [6]:
data_pd = pd.DataFrame(data_list)
data_pd

   0  1  2
0  0  1  2
1  3  4  5
2  7  8  9

In [7]:
data_np = np.array([[0, 1, 2], [3, 4, 5], [7, 8, 9]])

In [9]:
data_list = data_np.tolist()
data_list

[[0, 1, 2], [3, 4, 5], [7, 8, 9]]

In [12]:
data_pd = pd.DataFrame(data_np)
data_pd

   0  1  2
0  0  1  2
1  3  4  5
2  7  8  9

In [13]:
data_pd = pd.DataFrame([[0, 1, 2], [3, 4, 5], [7, 8, 9]])

In [15]:
data_list = data_pd.values.tolist()
data_list

[[0, 1, 2], [3, 4, 5], [7, 8, 9]]

In [16]:
data_np = data_pd.values
data_np

array([[0, 1, 2],
       [3, 4, 5],
       [7, 8, 9]])

In [17]:
!date

Wed Dec  2 06:19:35 UTC 2020