<a href="https://colab.research.google.com/github/maskot1977/Python2020/blob/1202/75.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!date

Tue Dec 15 18:07:27 UTC 2020

In [2]:
import gspread
print(gspread.__version__)

3.0.1

In [3]:
from google.colab import auth
from oauth2client.client import GoogleCredentials
import gspread

auth.authenticate_user()
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [4]:
ss_url = "https://docs.google.com/spreadsheets/d/1u50kS8Ztmgjjs--S1AM4753quL3QEPRR7xIGjCxcSCw/edit#gid=941271295"

In [5]:
workbook = gc.open_by_url(ss_url)
workbook

In [6]:
worksheet = workbook.get_worksheet(0)
worksheet

In [7]:
import gspread_dataframe as gs_df
df = gs_df.get_as_dataframe(worksheet)
df

              Timestamp  ...  Q20. 上記以外に、加えて欲しい質問項目などがありましたら教えてください。
0    5/18/2017 13:28:25  ...                                     NaN
1    5/18/2017 13:28:37  ...                                     NaN
2    5/18/2017 13:37:00  ...                                     NaN
3    5/18/2017 13:40:12  ...                                     NaN
4    5/18/2017 13:37:35  ...                                     NaN
..                  ...  ...                                     ...
867                 NaN  ...                                     NaN
868                 NaN  ...                                     NaN
869                 NaN  ...                                     NaN
870                 NaN  ...                                     NaN
871                 NaN  ...                                     NaN

[872 rows x 24 columns]

In [8]:
!date

Tue Dec 15 18:07:29 UTC 2020